:root {
  --yellow-wars: #efb810;
}

.login {
  font-family: "Chivo Mono", monospace;
  color: var(--yellow-wars);
  font-size: 3rem;
}

.login-page {
  background-image: url("../images/wallpaper-login.jpg");
  display: flex;
  align-items: center;
  height: 100vh;
  flex-flow: column nowrap;
}

.login-container {
  width: 25vw;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.login-buttons {
  text-align: center;
}
@media screen and (max-width: 900px) {
  .login {
    font-size: 1.25rem;
  }
  .login-container {
    width: 90vw;
    padding: 0 5vw;
  }
}
