.container {
  padding: 0 15vw;
  box-sizing: border-box;
}
.cabecalho {
  width: 100%;
  background-image: url("../images/wallpaper-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Chivo Mono", monospace;
  flex-flow: column;
  gap: 10px;
  color: var(--yellow-wars);
}
.title {
  margin: 0;
  color: var(--yellow-wars);
  font-size: 4rem;
}

.menu {
  font-family: "Chivo Mono", monospace;
  color: var(--yellow-wars);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding-top: 10px;
}

.item-menu {
  display: inline-block;
  width: 10%;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
  transition: 55ms;
  color: var(--yellow-wars);
}

.item-menu:hover {
  background-color: #f8f8f8;
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  justify-content: center;
  color: var(--yellow-wars);
  font-family: "Chivo Mono", monospace;
}

footer p {
  text-align: center;
  color: var(--yellow-wars);
  font-family: "Chivo Mono", monospace;
}

footer {
  background-color: black;
  padding: 10px;
  height: 100%;
}

.conteudo {
  background-color: white;
  height: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.corpo {
  min-height: 50vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

@media screen and (max-width: 600px) {
  .menu {
    flex-flow: column;
  }
  .item-menu {
    width: 100%;
  }
  .footer {
    flex-flow: column;
  }
  .cabecalho {
    text-align: center;
  }
  .container {
    padding: 0 1vw;
  }
  .corpo {
    width: 100%;
  }
}
