.starship-page {
  background: url("../images/starships.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.starships {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.starship {
  text-align: center;
  color: var(--yellow-wars);
  font-family: "Chivo Mono", monospace;
  border: 3px solid var(--yellow-wars);
  border-radius: 10px;
  transition: 1s;
}

.starship:hover {
  box-shadow: 10px 5px 5px var(--yellow-wars);
  background-color: black;
  transform: scale(1.1);
}

@media screen and (max-width: 730px) {
  .starships {
    display: flex;
    flex-flow: column;
    padding: 0;
  }
  .starship:hover {
    box-shadow: unset;
    transform: unset;
  }
}
